<!DOCTYPE html>
<!--/* Workaround for bug https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<!--@thymesVar id="post" type="your.package.Post"-->
<!--@thymesVar id="title" type="String"-->
<!--@thymesVar id="content" type="String"-->
<!--*/-->

<html xmlns:th="http://wwww.thymeleaf.org">

<head>
    <title>Coronavirus data tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
<div class="container">
<h1>Product list</h1>

<table class="table">
    <thead>
    <tr>
        <th>STATE</th>
        <th>COUNTRY</th>
        <th>TOTAL CASES</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="locationStat : ${locationStats}">
        <td th:text="${locationStat.state}"></td>
        <td th:text="${locationStat.country}"></td>
        <td th:text="${locationStat.latestTotalCases}"></td>
    </tr>
    </tbody>

</table>


<p th:text="${testName}"></p>
</div>
</body>

</html>